.card-container {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.card-category:hover {
  color: white;
}

.card-trip {
  overflow: hidden;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 0 0 16px;
  padding: 0;
}

.card-trip-infos {
  padding: 10px;
}

.card-trip>img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-button {
  margin: 0 10px 10px 10px;
}
